doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/main.css')
  body.landing
    block content
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.scrollex.min.js")
    script(src="javascripts/jquery.scrolly.min.js")
    script(src="javascripts/skel.min.js")
    script(src="javascripts/util.js")
    script(src="javascripts/main.js")