
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Prof System</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Prof System</h2>
							<p>Ferestre pentru o viata<br />
							medaliate cu aur<br />
							cu care&nbsp<a href="http://#">economisesti</a>.</p>
							<ul class="actions">
								<li><a href="#" class="button special">022-00-0000</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Afla mai multe</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Compania numarul 1 <br />
								in producerea ferestrelor si usilor din PVC</h2>
								<p>Membru al "Asociatiei Producatorilor Etici de ferestre cu geamuri termopan".<br />
								Inginerii nostri au fost instruiti in Germania timp de 6 luni.<br />
								Producem ferestre si usi din termopane de peste 10 ani.<p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>KBE - profil PVC numarul 1<br />
								calitate germana ecologica</h2>
								<p>In producerea ferestrelor si usilor din termopan compania noastra foloseste doar profil KBE ecologic, produs la fabricile din Germania, pentru care producatorul da o garantie de 30-50 ani</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Glas Trosch - sticla elvetiana<br />
								conceputa pentru ferestre PVC</h2>
								<p>Sticla energoeficienta folosita de compania noastra la producerea ferestrelor din termopan reduce cheltuielile pentru caldura, pina la 35%, ceia ce permite recuperarea cheltuielilor inca din primul an.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Maco - feronerie austriaca<br />
								pentru comfortul tau</h2>
								<p>Cea mai rezistenta feronerie la coroziune. Balamalele sustin pina la 120 kg. Dotate cu optiune de microventilare. Producatorul garanteaza 20 000 cicluri de inchidere-deschidere.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Prof System face viața mai bună și mai frumoasă în fiecare zi!</h2>
								<p>Ferestrele transpun în cadrul unei case nevoia noastră de lumină, confort și siguranță.<br/> De aceea căutăm în ele o îmbinare perfectă între frumos și funcționalitate.<br />
								Ferestrele mari și luminoase sunt un detaliu foarte important. Astfel, cu cât acestea sunt mai mari, cu atât încăperile locuinței vor fi mai spectaculoase.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Sticla potrivita pentru orice situatie</h3>
									<p>Ofera izolare termica, luminozitate si izolare fonica optima, protectie solara si siguranta . Low-E ( energoeficienta ) , 4S ( 4 anotimpuri ) sau triplex - toata gama de sticle pentru a acoperi orice cerinta a DVS. </p>
								</li>
								<li class="icon fa-laptop">
									<h3>Producere tehnologizata</h3>
									<p>Producerea ferestrelor si usilor din PVC are loc dupa un proces tehnologic bine pus la punct ce reduce practic la zero existenta rebuturilor sau defectelor in productia noastra.</p>
								</li>
								<li class="icon fa-code">
									<h3>Instalatori profesionali</h3>
									<p>Chiar si cele mai bune usi si ferestre din termopan isi pot pierde din proprietatile pentru care sunt produse printr-o instalare necalitativa. Aveti grija cui incredintati acest lucru.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Izolarea fonica</h3>
									<p>Poluarea sonora, la care suntem expusi zi de zi, generata de catre traficul terestru(drumuri, cai ferate) si aerian. Studii desfasurate in diferite tari au dovedit ca zgomotul extern generat de traficul terestru si aerian reprezinta sursa majora de iritare pentru cetateni.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Te vom sustine mereu</h2>
								<p>ProfSystem este o companie etică de producerea ferestrelor și ușilor din PVC și este adepta unei colaborări bazate pe transparență, profesionalism, responsabilitate, oferind totodată garanția calității.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">0-22-000000</a></li>
								<li><a href="#" class="button fit">Afla mai multe</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy;Prof System</li><li>Design: <a href="#">Alexei</a></li>
						</ul>
					</footer>

			</div>

